@use "variabels" as v;
@use "mixsins" as m;

.experience{
    padding: 100px 0 0 0;
    margin: 0 auto;
    @include m.d-flex(start,center,nowrap,column,0,90px);
  &__title{
    @include m.font(60px,400,v.$color_white);
    @media(max-width: v.$media_sm){
        @include m.font(35px,400,v.$color_white)
    }
  }

  &__card-wrapper{
    @include m.d-flex(space-around,center,wrap,row,20,55px);
    width: 100%;
    padding: 15px;
  }


}