@use 'variabels' as v;
@use 'mixsins' as m;
@use 'placeholders';
@use 'sass:color';

.hero {
    position: relative;
    max-width: 1260px;
    height: 830px;
    margin: 0 auto;
    padding: 140px 0;
    background: url('/assets/img/cloud_alpha.png') center/contain no-repeat;

    &__content {
        position: relative;
        width: 900px;
        margin: 0 auto;

        .hero__title {
            @include m.font(110px, 700, v.$color_black);
            line-height: 1;
        }

        .hero__action-btn {
            width: 380px;
            height: 80px;
            background-color: v.$color_black;
            border-radius: 45px;
            border: none;
            @include m.font(28px, 500, v.$color_white);
            @include m.pos(absolute, 1, -1, bottom, right, 15px);

            &:hover {
                cursor: pointer;
                background-color: color.adjust(v.$color_black, $alpha: -0.35);
            }

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: 2px solid v.$color_white;
            }
        }

        @media(max-width: v.$media_lg) {
            width: 100%;
            max-width: 700px;
            height: 370px;


            .hero__title {
                @include m.font(100px, 700, v.$color_black);
            }

            .hero__action-btn {
                @include m.pos(absolute, 1, -1, bottom, left, 0, 15px);
            }

        }

        @media(max-width: v.$media_lg) {
            width: 100%;
            max-width: 560px;
            height: 340px;


            .hero__title {
                @include m.font(75px, 700, v.$color_black);
            }

            .hero__action-btn {
                width: 260px;
                height: 60px;
                @include m.font(18px, 400, v.$color_white);
            }

        }
        @media(max-width: v.$media_sm) {
            width: 100%;
            max-width: 350px;
            height: 240px;


            .hero__title {
                @include m.font(45px, 500, v.$color_black);
            }


        }

    }


    &__notify {
        position: relative;
        margin: 170px auto 0;
        width: 680px;
        height: 60px;
        background-color: color.adjust(v.$color_white, $alpha: -0.85);
        border-radius: 20px;
        @include m.d-flex(end, center, nowrap, row, 10px);

        &-img {
            width: 126px;
            height: 198px;
            @include m.pos(absolute, 1, -1, top, left, - 75px, -35px);
        }

        &-content {
            width: 450px;
            height: 100%;
            @include m.d-flex(center, center, nowrap, );
            @include m.font(14px, 400, v.$color_black);
            border-right: 1px solid v.$color_white;
            line-height: .95;

        }

        &-btn {
            width: 115px;
            background: none;
            border: none;
            cursor: pointer;
            @include m.font(25px, 400, v.$color_black);
            @extend %hover-light;

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: 2px solid v.$color_white;
                border-radius: 5px;
            }

        }

        @media(max-width: v.$media_md) {
            width: 100%;
            max-width: 450px;
            margin: 140px auto 0;
            height: fit-content;
            @include m.d-flex(start, center, nowrap, column, 0, 0);

            &-content {
                width: 100%;
                padding: 15px 10px 15px 80px;
                border-right: none;
                border-bottom: 1px solid v.$color_white;
                line-height: 1.3;
                @include m.font(12px, 400, v.$color_black);

            }

            &-btn {
                @include m.font(30px, 400, v.$color_black);
                padding: 15px, 0;
            }

        }
        @media(max-width: v.$media_sm){
             &-img {
            @include m.pos(absolute, 1, -1, top, left, - 55px, -32px);
             &-content {
                width: 100%;
                padding: 10px 10px 10px 140px;
                border-right: none;
                border-bottom: 1px solid v.$color_white;
                line-height: 1.3;
                @include m.font(11px, 400, v.$color_black);

            }

            
        }
        }
    }

    &__scroll {
        @include m.pos(absolute, 1, -1, bottom, left, -200px, 10px);

        &-content {
            position: relative;
            @include m.font(16px, 500, v.$color_white);
            writing-mode: vertical-rl;
            cursor: pointer;

            &::after {
                @include m.pos(absolute, 1, -1, top, left, 100px, 10px);
                display: block;
                content: "";
                width: 1px;
                height: 76px;
                background-color: v.$color_white;

            }
        }

        @media(max-width: v.$media_lg) {
            display: none;

        }

    }

    @media(max-width: v.$media_md) {
        padding: 227px 15px 0 0;
        background: url('/assets/img/cloud_alpha.png') 0 25%/contain no-repeat;

    }
}